.about {
	color: white;
	font-size: 1.3rem;
	padding: 2rem 0;
	text-align: center;
	overflow-y: hidden;
}

.about_title {
	font-family: 'Rubik Mono One', sans-serif;
	font-size: 2.2rem;
	font-weight: 800;
	margin-bottom: 0;
}

.about_description {
	margin-bottom: 8vh;
}

.about_sub-description {
	margin: .6vh 0;
}

.about_img-container {
	animation: Moving 20s linear 1s infinite alternate;
	position: absolute;
	top: 0;
	left: 0;
	width: 5vw;
	height: 5vw;		
}	

.about_img-container_img {
  position: absolute;
	top: 65vh;
	left: -5vw;
	width: 5vw;
	animation: Floating 3s ease-in-out infinite alternate;

	&:hover {
		animation: FloatingFast 1s ease-in-out infinite alternate;
	}
}

@keyframes Floating {
	from {transform:translate(0, 0px);}
	65% {transform:translate(0, 15px);}
	to {transform: translate(0, -0px);}    
}


@keyframes FloatingFast {
	from {transform:translate(0, 0px);}
	65% {transform:translate(0, 30px);}
	to {transform: translate(0, -15px);}    
}

@keyframes Moving {
	from { transform: translate(0, 0);}
	20% { transform: translate(20vw, 0);}
	50% { transform: translate(50vw, 0);}
	to { transform: translate(105vw, 0);}    
}

@media screen and (max-aspect-ratio: 3/2) { 
	.about_title {
		font-weight: 300 !important;
		margin-bottom: 2vh;				
	}

	.about_description {
		margin-bottom: 8vh;
	}
}