.logo {
	height: 6vh;
	position: absolute;
	right: 0;
	width: 6vh;
	z-index: 1000;

	&:hover {
		cursor: pointer;
	} 
}

@media screen and (max-aspect-ratio: 3/2) { 
	.logo {
		height: 7vw;
		right: 7vw;
		top: 1.3vh;
		width: 7vw;
	}
}