.planet {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
}

.center {
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
}

.times,
.times-container, 
.img-director {
	height: 5vw;
	width: 5vw;
	// top: 40vh;
	border-radius: 50%;
}

.img-director:hover {
	cursor: pointer;;
}

.img-director--mini {
	border-radius: 50%;
	height: 3vw;
	width: 3vw;
}

.times-container {
	background-color: black;
	opacity: .5;
}

.times {
	color: white;
	font-weight: 600;
	height: 8vh;
	width: 8vh;
}

.times_span_label {
	font-size: 1.6rem;
}

@media screen and (max-width: 420px) {
	.planet {
		width: 92vw;
	}

	.times,
	.times-container, 
	.img-director {
		width: 14vw;
		height: 14vw;
	}

	.img-director--mini {
		width: 14vw;
		height: 14vw;
	}
}