@import '../../assets/scss/variables.scss';

.director-view {
	display: flex;
	height: 80vh;
}

.director-view_left {
  width: 46vw;
}

.director-view_right {
  width: 46vw;
  text-align: left;
}

.legend {
  position: absolute;
  left: 5.5vw;
  bottom: 6vw;
  width: 10vw;
  align-items: center;
  display: flex;
}

.legend_square {
  width: 1vw;
  height: 1vw;
  background-color: $blue;
  margin: 1vh 0;
}  

.legend_label {
  margin-left: 1vw;
}

.legend--2 {
  bottom: 4vw;

  .legend_square {
    background-color: $pink;
  }
}