@import '../../assets/scss/variables.scss';
$width-header-part: 46vw;

%flex-display {
	align-items: center;
	display: flex;
}

.app-header {
	@extend %flex-display;
	height: 6vh;
	margin-top: 2vh;
	text-align: left;	
}

.app-header_left {
	@extend %flex-display;
	width: $width-header-part;
	justify-content: center;
}

.range-container {
  width: 38vw;
}

.label--min-year,
.label--max-year {
	width: 4vw;
}

.label--min-year {
	text-align: right;
	margin-right: 2vw;
}

.label--max-year {
	margin-left: 2vw;
}

.app-header_right {
	text-align: left !important;
	width: $width-header-part;   
}

.menu-director {
	width: 20vw;
	margin-left: 5.2vw;
}

// slider
.rc-slider {
	height: 6vh !important;
	width: 100% !important;
	padding: 0 !important;

	.rc-slider-handle {
		background-color: $light-yellow !important;
		border: solid 1px $light-yellow !important;
		border-radius: 0 !important;
		height: 6vh !important;
		margin-top: 0 !important;
		width: 1vw !important;	
	}

	.rc-slider-handle-1 {
		margin-left: 0 !important;
	}

	.rc-slider-handle-2 {
		margin-left: -1vw !important;
	}

	.rc-slider-rail {
		background-color: $boulder !important;
		height: 6vh !important;
	}

	.rc-slider-track {
		background-color: $yellow !important;
		border-radius: 0 !important;
		height: 6vh !important;
	}
}

.rc-slider-tooltip-arrow {
	visibility: hidden !important;
}

.rc-slider-tooltip-inner {	
	background-color: $very-light-yellow !important;
	border-radius: 0 !important;
	box-shadow: none !important;
	color: black !important;
	font-size: 1vw !important;
}

// dropdown menu
.grommetux-menu,
.grommetux-menu_drop {
	border-radius: 0 !important;

	.grommetux-button {
		background-color: $boulder;
		color: white;
		border-radius: 0 !important;
		display: flex;
		font-size: 1vw !important;
		height: 6vh;
		display: flex;
		align-items: center;
		font-family: 'Rajdhani', sans-serif;

		&:active {
			outline: none !important;
		}		
	}

	.grommetux-button_icon {
		color: white;
		padding: 0 1vw;
		fill: white !important;
	}

	.grommetux-menu_contents {
		font-family: 'Rajdhani', sans-serif;		
		font-size: 1vw;
		text-align: left !important;

		.grommetux-anchor {
			background-color: $silver !important;
			color: white !important;
			text-align: left !important;
			padding: 1.2vh 1.4vw !important;
		}
	}

	.grommetux-anchor.active {
		color: $yellow !important; 	
	}
}

@media screen and (max-aspect-ratio: 3/2) { 
	.app-header {		
		align-items: flex-end !important;
		display: block !important;
		margin-top: 10vh !important;		

		.grommetux-menu,
		.grommetux-menu_drop {
			width: 60vw !important;
		}

		.grommetux-button {					
			font-size: 4vw !important;
			margin: auto !important;
		}

		.grommetux-menu_contents {
			font-size: 4vw !important;
		}

		.grommetux-anchor {
			font-size: 4vw !important;	
		}
	}

	.app-header_left {
		width: 92vw;
	}

	.range-container {
		flex: 6;
		margin: 0 !important;
		
		.rc-slider {
			margin: auto !important;
			width: 80% !important;
		}

		.rc-slider-handle {
			width: 5vw !important;

			&.rc-slider-handle-2 {
				margin-left: -5vw !important;
			}
		}

		.rc-slider-tooltip-inner {
			font-size: 4vw !important;
		}
	}

	.label--min-year,
	.label--max-year {
		margin: 0 !important;
		flex: 1;
	}
	
	.app-header_right {
		text-align: center;
		width: 92vw !important;			
	}

	.menu-director {
		width: 60vw !important;
		margin-top: 4vh !important;
		margin-left: 16vw !important;
	}	
}

@media screen and (max-width: 44.9375em) {
	.app-header {
		.grommetux-button {
			font-size: 4vw !important;
		}

		.grommetux-menu_contents {
			font-size: 4vw !important;
		}
	}	
}

@media screen and (min-width: 768px) and (max-width: 1366px) and (max-aspect-ratio: 3/2) {
	.app-header {
		.grommetux-anchor {
			font-size: 5vw !important;	
		}

		.grommetux-button {
			font-size: 5vw !important;
		}

		.grommetux-menu_contents {
			font-size: 4vw !important;
		}

		.grommetux-menu_drop {
		  left: 70vw !important;
	  }
	}
}