@import '../../assets/scss/variables.scss';
$width-header-part: 46vw;

%flex-display {
	align-items: center;
	display: flex;
}

.app-header {
	@extend %flex-display;
	height: 3rem;
    margin-top: 1rem;
    text-align: left;
    position: fixed;
    width: 92vw;
	justify-content: center;
	align-items: flex-end;
	flex-wrap: wrap;
}

.app-header_left {
	@extend %flex-display;
	width: 100%;
	min-width: 350px;
	flex: 4;
}

.logo-container {
	// flex: 1;
	height: 3rem;
}

.range-container {
  width: 100%;
}

.label-min-year,
.label-max-year {
	width: 4rem;
	font-size: 1rem;
}

.label-min-year {
	text-align: right;
	margin-right: 1rem;
}

.label-max-year {
	margin-left: 1rem;
}

.app-header_right {
	flex: 3;
	min-width: 350px;
	width: 100%;   
}

.menu-director {
	width: 100%;
	margin-left: 1rem;
}

// slider
.rc-slider {
	height: 3rem !important;
	width: 100% !important;
	padding: 0 !important;

	.rc-slider-handle {
		background-color: $light-yellow !important;
		border: solid 1px $light-yellow !important;
		border-radius: 0 !important;
		height: 3rem !important;
		margin-top: 0 !important;
		width: 1vw !important;	
	}

	.rc-slider-handle-1 {
		margin-left: 0 !important;
	}

	.rc-slider-handle-2 {
		margin-left: -1vw !important;
	}

	.rc-slider-rail {
		background-color: $boulder !important;
		height: 3rem !important;
	}

	.rc-slider-track {
		background-color: $yellow !important;
		border-radius: 0 !important;
		height: 3rem !important;
	}
}

.rc-slider-tooltip-arrow {
	visibility: hidden !important;
}

.rc-slider-tooltip-inner {	
	background-color: $very-light-yellow !important;
	border-radius: 0 !important;
	box-shadow: none !important;
	color: black !important;
}

// dropdown menu
.grommetux-menu,
.grommetux-menu__drop {
	margin: 0;

	.grommetux-button {
		background-color: $boulder;
		color: white;
		border-radius: 0 !important;
		display: flex;
		font-size: 1rem;
		height: 3rem;
		align-items: center;
		font-family: 'Rajdhani', sans-serif;

		&:active {
			outline: none !important;
		}		
	}

	.grommetux-button_icon {
		color: white;
		padding: 0 1vw;
		fill: white !important;
	}
		.grommetux-anchor {
			background-color: $silver !important;
			color: white !important;
			text-align: left !important;
			padding: 1.2vh 1.4vw !important;
			font-family: 'Rajdhani', sans-serif;
			text-align: left !important;

			&.active {
				color: $yellow !important; 	
			}
		}
	
}

@media screen and (max-width: 420px) {
	.app-header {
		height: 9rem;
		align-items: flex-start;
	}

	.app-header_left {
		order: 1;
	}
	.app-header_right {
		order: 0;
	}

	.logo-container {
		order: 1;
	}

	.grommetux-menu .grommetux-button {
		margin: auto;
	}
}