@import "../../public/stylesheets/shared.scss";

.header {
	align-items: center;
  display: flex;
  height: 14vh;
}

.filters {
	align-items: center;
	flex: 1;
	display: flex;
	justify-content: center;
}

.filters > .range-container {
	flex: 3;
}

.filters > label {
  flex: 1;
}

.logo {
	flex: 1;
}

.logo img {
	width: 5vw;
	float: right;
}

.rc-slider {
	height: 5vh !important;
	width: 70% !important;
	padding: 0 !important;

	.rc-slider-handle {
	  background-color: $yellow !important;
		width: 1.5vh !important;
		height: 5vh !important;
		border-radius: 0 !important;
		border: solid 1px $yellow !important;
		margin-top: 0 !important;
	}

	.rc-slider-rail {
		height: 5vh !important;
	}

	.rc-slider-track {
		background-color: $light-yellow !important;
		height: 5vh !important;
	}
}

.rc-slider-tooltip-arrow {
	border-top-color: $very-light-yellow !important;
}

.rc-slider-tooltip-inner {
	color: black !important;
	background-color: $very-light-yellow !important;
}