.header {
	align-items: center;
  display: flex;
  height: 14vh;
}

.filters {
	flex: 2;
	display: flex;
}

.filters > .rc-slider {
	flex: 8;
}

.filters > label {
  flex: 1;
}

.logo {
	flex: 1;
}

.logo img {
	width: 5vw;
	float: right;
}

.rc-slider-handle {
  background-color: #FFCA28 !important;
	width: 1.5vh !important;
	height: 3vh !important;
	border-radius: 0 !important;
	border: solid 1px #FFCA28 !important;
	margin-top: -1vh !important;
}

.rc-slider-track {
	background-color: #FFCA28 !important;
}