.header {
	align-items: center;
  display: flex;
  height: 14vh;
}

.header > div {
	flex: 1;
}

.logo img {
	width: 5vw;
	float: right;
}

.filters {
	display: flex;
}

.filters > .rc-slider {
	flex: 8;
}
.filters > label {
  flex: 1;
}