@import "../themes/variables.scss";

.header {
	align-items: center;
  display: flex;
  height: 6vh;
  text-align: left;

  .left {
	  align-items: center;
	  width: 46vw;
	  display: flex;
	  justify-content: center;

	  .range-container {
		  width: 36vw;
		} 

		label {
	    width: 10vw;
	    margin-right: 2vw;
	  }
  }

  .right {
  	text-align: left !important;
  	width: 46vw;

  	.director-dropdown {
  	  width: 20vw;
  	  margin-left: 5.2vw;
    }

    .logo {
    	width: 26vw;
    }
  }

}

.rc-slider {
	height: 6vh !important;
	width: 70% !important;
	padding: 0 !important;

	.rc-slider-handle {
	  background-color: $light-yellow !important;
		border: solid 1px $light-yellow !important;
		border-radius: 0 !important;
		height: 6vh !important;
		margin-top: 0 !important;
		width: 1vw !important;	
	}

	.rc-slider-rail {
		background-color: $boulder !important;
		height: 6vh !important;
	}

	.rc-slider-track {
		background-color: $yellow !important;
		border-radius: 0 !important;
		height: 6vh !important;
	}
}

.rc-slider-tooltip-arrow {
	visibility: hidden !important;
}

.rc-slider-tooltip-inner {	
	background-color: $very-light-yellow !important;
	border-radius: 0 !important;
	box-shadow: none !important;
	color: black !important;
  font-size: 1vw !important;
}

.grommetux-menu,
.grommetux-menu__drop {
	/*flex: 1;*/
	border-radius: 0 !important;

	> button {
		background-color: $boulder;
		color: white;
		border-radius: 0 !important;
		display: flex;
		font-size: 1vw !important;
		height: 6vh;
		display: flex;
		align-items: center;

		.grommetux-button__label {
			height: 6vh;
		}

		.grommetux-button__icon {
			color: white;
			padding: 0 1vw;
			fill: white;
			height: 6vh;
		}
	}

	.grommetux-menu__contents {
		font-size: .9vw !important;
		text-align: left !important;

		a {
			background-color: $silver !important;
			color: white !important;
			text-align: left !important;
			padding: 1.2vh 1.4vw !important;
		}
	}
}