// ------------------------------------
// FONTS
// ------------------------------------

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500|Source+Sans+Pro|Rubik+Mono+One|Rajdhani');

// ------------------------------------
// SHARED
// ------------------------------------

@import './assets/scss/shared.css';
@import './assets/scss/variables.scss';

// ------------------------------------
// PARTIALS
// ------------------------------------

@import './assets/scss/responsive.css';

body {
  background: black; 
  color: white;
  font-family: 'Rajdhani', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 2vh 4vw;
}

::-webkit-scrollbar { 
  display: none; 
}

.App {
  margin: 0 4vw;
  text-align: center;
}

.main-content {
  position: fixed;
  top: 4rem;
  overflow: auto;
  bottom: 1rem;
  width: 92vw;
}

@media screen and (max-width: 420px) {
  .main-content {
    top: 10rem;
  }
}