@import "../../themes/variables.scss";

.director-view {
	display: flex;
	height: 80vh;
}

.director-view__left {
  width: 46vw;
}

.director-view__right {
  width: 46vw;
  text-align: left;
}

.legend {
  position: absolute;
  left: 5.5vw;
  bottom: 6vw;
  width: 10vw;
  align-items: center;
  display: flex;
}

.legend__square {
  width: 1vw;
  height: 1vw;
  background-color: $blue;
  margin: 1vh 0;
}  

.legend__label {
  margin-left: 1vw;
}

.legend--2 {
  bottom: 4vw;

  .legend__square {
    background-color: $pink;
  }
}

@media screen and (max-aspect-ratio: 3/2) { 
  .director-view {
    display: block !important;
  }

  .director-view__left {
    width: 90vw;
    margin-top: -4vh !important;
  }

  .director-view__right {
    width: 90vw;
    margin-top: 75vh;
  }

  .legend {
    left: 8vw;
    width: 20vw;  
  }

  .legend__square {
    width: 3vw;
    height: 3vw;
    margin: 1vh 0;
  }

  .legend__label {
    margin-left: 3vw;
  }

  .legend--1 {
    bottom: 10vh !important;
  }

  .legend--2 {
    bottom: 7vh !important;
  }  
} 